.container {
  padding: 2em 20em;
}

img {
  width: 40%;
}

.title {
  padding-bottom: 1em;
  text-align: center;
  border-bottom: 2px solid black;
}

.title h2 {
  font-size: 2.6em;
}

.recipe {
  padding-top: 1em;
}

.recipe h4 {
  padding-top: 1em;
}

.tags {
  width: 30vh;
}

.tags span{
  padding: 0.75em 0.75em;
  margin-right: 0.5em;
  margin-top: 1em;
}

.drinkAndIngredients {
  padding-top: 1em;
  display: flex;
}

.ingeridients {
  padding-top: 0em;
  padding-left: 2em;
}

.ingeridients h4{
  padding: 0em;
}

.ingeridients:last-child{
  padding-left: 4em;
}

.search {
  padding-top: 1em;
}